html {
    height: 100%;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}




